In [10]:
import sys
import os

# os.getcwd() => '/home/genie/Documents/Projekti/cash-flow/jupyter'
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))  # Moves up one level to 'cash-flow'
# project_root = '/home/genie/Documents/Projekti/cash-flow'

# Add the module Converters directory to sys.path
sys.path.append(os.path.join(project_root, 'cash_flow', 'util'))

In [11]:
# Imports and engine

import pandas as pd
import numpy as np
import datetime
from sqlalchemy import create_engine

from Converters import date_format

engine = create_engine("sqlite:///../data/database.db", echo=False)

In [12]:
# Setup filters
date_from = "2024-01-01"
date_through = "2025-12-31"
report_period = 'W-SUN'

In [13]:
# Load all data from database

bank_df = pd.read_sql_query('SELECT * FROM G09_CashFlow WHERE d_date >= "' + date_from + '" AND d_date <= "' + date_through + '" ', engine)
cash_df = pd.read_sql_query('SELECT * FROM G02_CashTransactions WHERE d_date <= "' + date_through + '" ', engine)
definition_df = pd.read_sql_table("E01_CashFlowDefinition", engine)
definition_df.rename(columns={"id":"definition_id"}, inplace=True)
definition_acc_df = definition_df[definition_df["definition_type"] == 1]
definition_tot_df = definition_df[definition_df["definition_type"] == 2]
definition_bal_df = definition_df[definition_df["definition_type"] == 3]
definition_accounts_df = pd.read_sql_table("E01_CashFlowDefinitionAccounts", engine)
definition_totals_df = pd.read_sql_table("E01_CashFlowDefinitionTotals", engine)

In [14]:
bank_df.head()

,d_id,d_type,d_date,d_number,d_customer_id,d_vendor_ir,d_description,d_currency,gl_entry_type,gl_account,gl_amount,gl_amount_LC
0,1529,1,2024-01-02 00:00:00.000000,1029,7.0,NaN,Payment 1029,EUR,DR,2620,444.57,444.57
1,1529,1,2024-01-02 00:00:00.000000,1029,7.0,NaN,Payment 1029,EUR,CR,5721,77.16,77.16
2,1529,1,2024-01-02 00:00:00.000000,1029,7.0,NaN,Payment 1029,EUR,CR,6110,367.41,367.41
3,1701,1,2024-01-02 00:00:00.000000,1201,9.0,NaN,Payment 1201,EUR,DR,2620,6981.95,6981.95
4,1701,1,2024-01-02 00:00:00.000000,1201,9.0,NaN,Payment 1201,EUR,CR,5721,1211.74,1211.74

In [15]:
cash_df.head()

,id,d_id,d_date,cash_type,d_currency,gl_entry_type,gl_account,gl_amount,gl_amount_LC
0,6002,1501,2020-02-23 00:00:00.000000,Receipt,EUR,DR,2620,707.71,707.71
1,6004,1502,2022-08-06 00:00:00.000000,Receipt,EUR,DR,2620,7602.03,7602.03
2,6006,1503,2024-02-13 00:00:00.000000,Receipt,EUR,DR,2620,5461.39,5461.39
3,6008,1504,2025-05-11 00:00:00.000000,Receipt,EUR,DR,2620,5530.30,5530.30
4,6010,1505,2023-02-26 00:00:00.000000,Receipt,EUR,DR,2620,5740.96,5740.96

In [16]:
definition_acc_df.head()

,definition_id,key,definition_type,name
1,2,101,1.0,Ieņēmumi no preču un pakalpojumu pārdošanas
2,3,102,1.0,Maksājumi piegādātājiem
3,4,103,1.0,Maksājumi darbiniekiem
4,5,104,1.0,Pārējie pamatdarbības ieņēmumi un izdevumi
6,7,201,1.0,Izdevumi procentu maksājumiem

In [17]:
definition_accounts_df.head()

   id  definition_id operator entry_type account
0   1              2        +         CR    6110
1   2              3        -         DR    7110
2   3              4        -         DR    7210
3   4              3        -         DR    7310
4   5              5        -         DR    7510

In [18]:
definition_tot_df.head()

,definition_id,key,definition_type,name
5,6,199,2.0,BRUTO PAMATDARBĪBAS NAUDAS PLŪSMA
9,10,299,2.0,PAMATDARBĪBAS NETO NAUDAS PLŪSMA
19,20,309,2.0,IEGULDĪJUMU DARBĪBAS NETO NAUDAS PLŪSMA
26,27,499,2.0,FINANSĒŠANAS DARBĪBAS NETO NAUDAS PLŪSMA
28,29,902,2.0,NETO NAUDAS PLŪSMA

In [19]:
definition_totals_df.head()

   id  definition_id operator  definition_summarized
0   1              6        +                      2
1   2              6        +                      3
2   3              6        +                      4
3   4              6        +                      5
4   5             10        +                      2

In [20]:
definition_bal_df.head()

,definition_id,key,definition_type,name
29,30,999,3.0,NAUDAS LĪDZEKĻU ATLIKUMS PĀRSKATA PERIODA BEIGĀS

In [21]:
# ********************** (1) Start working with sums based on filtered accounts *******************************
# Merge accounts into accounts definition

definition_accounts_df = pd.merge(
    definition_acc_df,
    definition_accounts_df,
    on="definition_id", how="left")
definition_accounts_df.drop(columns=["id"], inplace=True)

In [22]:
definition_accounts_df

,definition_id,key,definition_type,name,operator,entry_type,account
0,2,101,1.0,Ieņēmumi no preču un pakalpojumu pārdošanas,+,CR,6110
1,3,102,1.0,Maksājumi piegādātājiem,-,DR,7110
2,3,102,1.0,Maksājumi piegādātājiem,-,DR,7310
3,4,103,1.0,Maksājumi darbiniekiem,-,DR,7210
4,5,104,1.0,Pārējie pamatdarbības ieņēmumi un izdevumi,-,DR,7510
5,7,201,1.0,Izdevumi procentu maksājumiem,NaN,NaN,NaN
6,8,202,1.0,Izdevumi nodokļu maksājumiem,+,CR,5721
7,8,202,1.0,Izdevumi nodokļu maksājumiem,-,DR,5721
8,9,203,1.0,Naudas plūsma no ārkārtas posteņiem,NaN,NaN,NaN
9,12,301,1.0,Radniecīgo vai asociēto uzņēmumu daļu iegāde,NaN,NaN,NaN
10,13,302,1.0,Ieņēmumi no radniecīgo vai asociēto uzņēmumu d...,NaN,NaN,NaN
11,14,303,1.0,Pamatlīdzekļu un nemateriālo ieguldījumu iegāde,NaN,NaN,NaN
12,15,304,1.0,Ieņēmumi no pamatlīdzekļu un nemateriālo iegul...,NaN,NaN,NaN
13,16,305,1.0,Izsniegtie aizdevumi,NaN,NaN,NaN
14,17,306,1.0,Ieņēmumi no aizdevumu atmaksas,NaN,NaN,NaN
15,18,307,1.0,Saņemtie procenti,NaN,NaN,NaN
16,19,308,1.0,Saņemtās dividendes,NaN,NaN,NaN
17,22,401,1.0,Ieņēmumi no akciju vai obligāciju emisijas,NaN,NaN,NaN
18,23,402,1.0,Saņemtie aizņēmumi,NaN,NaN,NaN
19,24,403,1.0,Izdevumi aizdevumu atmaksai,NaN,NaN,NaN
20,25,404,1.0,Samaksātie procenti,NaN,NaN,NaN
21,26,405,1.0,Izmaksātās dividendes,NaN,NaN,NaN
22,28,901,1.0,Ārvalstu valūtu kursu svārstību rezultāts,NaN,NaN,NaN

In [23]:
# Merge accounts definition into bank transactions

merged_df = pd.merge(definition_accounts_df,
    bank_df,
    left_on=['entry_type', 'account'],        # Columns in definition_df
    right_on=['gl_entry_type', 'gl_account'], # Corresponding columns in transactions_df
    how='left'
)

In [24]:
# Add column adjusted_amount_LC based on operator + / -

merged_df['adjusted_amount_LC'] = np.where(
    merged_df['operator'] == '+', 
    merged_df['gl_amount_LC'], 
    -merged_df['gl_amount_LC']
)

In [25]:
# Convert d_date to_datetime if not done yet

merged_df['d_date'] = pd.to_datetime(merged_df['d_date'])

# Convert adjusted_amount_LC to_numeric if not done yet

merged_df['adjusted_amount_LC'] = pd.to_numeric(merged_df['adjusted_amount_LC'], errors='coerce')

In [26]:
# Add column for period reference

merged_df["d_period"] = merged_df['d_date'].dt.to_period(report_period).apply(lambda r: r.to_timestamp(how='end').normalize() if pd.notna(r) else pd.NaT)

In [27]:
merged_df.head()

,definition_id,key,definition_type,name,operator,entry_type,account,d_id,d_type,d_date,...,d_customer_id,d_vendor_ir,d_description,d_currency,gl_entry_type,gl_account,gl_amount,gl_amount_LC,adjusted_amount_LC,d_period
0,2,101,1.0,Ieņēmumi no preču un pakalpojumu pārdošanas,+,CR,6110,1529.0,1.0,2024-01-02,...,7.0,NaN,Payment 1029,EUR,CR,6110,367.41,367.41,367.41,2024-01-07
1,2,101,1.0,Ieņēmumi no preču un pakalpojumu pārdošanas,+,CR,6110,1989.0,1.0,2024-01-04,...,98.0,NaN,Payment 1489,EUR,CR,6110,1445.20,1445.20,1445.20,2024-01-07
2,2,101,1.0,Ieņēmumi no preču un pakalpojumu pārdošanas,+,CR,6110,2479.0,1.0,2024-01-04,...,32.0,NaN,Payment 1979,EUR,CR,6110,273.07,273.07,273.07,2024-01-07
3,2,101,1.0,Ieņēmumi no preču un pakalpojumu pārdošanas,+,CR,6110,1734.0,1.0,2024-01-05,...,7.0,NaN,Payment 1234,EUR,CR,6110,177.67,177.67,177.67,2024-01-07
4,2,101,1.0,Ieņēmumi no preču un pakalpojumu pārdošanas,+,CR,6110,1548.0,1.0,2024-01-07,...,6.0,NaN,Payment 1048,EUR,CR,6110,5584.26,5584.26,5584.26,2024-01-07

In [28]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   definition_id       1115 non-null   int64
 1   key                 1115 non-null   object
 2   definition_type     1115 non-null   float64
 3   name                1115 non-null   object
 4   operator            1099 non-null   object
 5   entry_type          1099 non-null   object
 6   account             1099 non-null   object
 7   d_id                1099 non-null   float64
 8   d_type              1099 non-null   float64
 9   d_date              1099 non-null   datetime64[ns]
 10  d_number            1099 non-null   object
 11  d_customer_id       437 non-null    float64
 12  d_vendor_ir         662 non-null    float64
 13  d_description       1099 non-null   object
 14  d_currency          1099 non-null   object
 15  gl_entry_type       1099 non-null   object
 16  gl_account          1099 non-null   object
 17  gl_amount           1099 non-null   float64
 18  gl_amount_LC        1099 non-null   float64
 19  adjusted_amount_LC  1099 non-null   float64
 20  d_period            1099 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(8), int64(1), object(10)
memory usage: 183.1+ KB

In [29]:
# Pivot values based on definition_id and d_period

pivot_df = merged_df.pivot_table(
    index='definition_id',
    columns='d_period',
    values='adjusted_amount_LC',
    aggfunc="sum",
    fill_value=0,
    dropna=False
)

In [30]:
# Add all periods in range if some are missing

all_periods = pd.date_range(start=date_from, end=date_through, freq=report_period)
pivot_df = pivot_df.reindex(columns=all_periods, fill_value=0)

In [31]:
# Ensure columns are in datetime format before formatting
pivot_df.columns = pd.to_datetime(pivot_df.columns, errors='coerce')

In [32]:
pivot_df

,2024-01-07,2024-01-14,2024-01-21,2024-01-28,2024-02-04,2024-02-11,2024-02-18,2024-02-25,2024-03-03,2024-03-10,...,2025-10-26,2025-11-02,2025-11-09,2025-11-16,2025-11-23,2025-11-30,2025-12-07,2025-12-14,2025-12-21,2025-12-28
definition_id,,,,,,,,,,,,,,,,,,,,,
2,8124.16,7534.69,4980.63,4915.30,4506.30,7372.62,4378.71,5452.75,10271.67,8886.27,...,957.98,2496.51,0.00,1103.94,4002.39,7113.53,1843.96,15304.11,8652.94,8111.98
3,-5218.58,-10375.91,-6043.07,0.00,-1893.71,-752.36,-462.68,-10118.08,0.00,-8810.75,...,-953.30,-5709.37,-6705.49,-5555.74,-4619.95,-4736.90,-347.59,-3424.74,0.00,-10205.30
4,-8524.51,-5731.41,-4348.59,-765.63,-1032.99,0.00,-4845.59,-2871.11,-3484.60,0.00,...,-5027.39,-2832.68,0.00,-3865.56,-6872.64,-1012.78,-7539.13,-6444.40,0.00,-4468.68
5,0.00,-4769.07,-4702.43,-966.22,-3365.70,0.00,-4102.77,-6528.26,-6037.92,0.00,...,0.00,-2812.17,-249.67,-12026.82,0.00,0.00,-11258.97,0.00,-169.45,-1801.94
7,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,2475.04,-2668.04,-580.86,1915.42,-217.89,2566.67,969.21,-105.42,742.49,2747.21,...,-267.36,-786.62,-1460.58,-3103.92,-802.76,1743.99,-3196.97,1507.82,2569.21,-454.83
9,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
19,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
28,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [33]:
# ********************** (2) Start working with totals based on totaled definitions *******************************
# Merge totals into totals definition
definition_totals_df = pd.merge(
    definition_tot_df,
    definition_totals_df,
    on="definition_id", how="left")
definition_totals_df.drop(columns=["id"], inplace=True)

In [34]:
definition_totals_df

,definition_id,key,definition_type,name,operator,definition_summarized
0,6,199,2.0,BRUTO PAMATDARBĪBAS NAUDAS PLŪSMA,+,2
1,6,199,2.0,BRUTO PAMATDARBĪBAS NAUDAS PLŪSMA,+,3
2,6,199,2.0,BRUTO PAMATDARBĪBAS NAUDAS PLŪSMA,+,4
3,6,199,2.0,BRUTO PAMATDARBĪBAS NAUDAS PLŪSMA,+,5
4,10,299,2.0,PAMATDARBĪBAS NETO NAUDAS PLŪSMA,+,2
5,10,299,2.0,PAMATDARBĪBAS NETO NAUDAS PLŪSMA,+,3
6,10,299,2.0,PAMATDARBĪBAS NETO NAUDAS PLŪSMA,+,4
7,10,299,2.0,PAMATDARBĪBAS NETO NAUDAS PLŪSMA,+,5
8,10,299,2.0,PAMATDARBĪBAS NETO NAUDAS PLŪSMA,+,7
9,10,299,2.0,PAMATDARBĪBAS NETO NAUDAS PLŪSMA,+,8
10,10,299,2.0,PAMATDARBĪBAS NETO NAUDAS PLŪSMA,+,9
11,20,309,2.0,IEGULDĪJUMU DARBĪBAS NETO NAUDAS PLŪSMA,+,12
12,20,309,2.0,IEGULDĪJUMU DARBĪBAS NETO NAUDAS PLŪSMA,+,13
13,20,309,2.0,IEGULDĪJUMU DARBĪBAS NETO NAUDAS PLŪSMA,+,14
14,20,309,2.0,IEGULDĪJUMU DARBĪBAS NETO NAUDAS PLŪSMA,+,15
15,20,309,2.0,IEGULDĪJUMU DARBĪBAS NETO NAUDAS PLŪSMA,+,16
16,20,309,2.0,IEGULDĪJUMU DARBĪBAS NETO NAUDAS PLŪSMA,+,17
17,20,309,2.0,IEGULDĪJUMU DARBĪBAS NETO NAUDAS PLŪSMA,+,18
18,20,309,2.0,IEGULDĪJUMU DARBĪBAS NETO NAUDAS PLŪSMA,+,19
19,27,499,2.0,FINANSĒŠANAS DARBĪBAS NETO NAUDAS PLŪSMA,+,22
20,27,499,2.0,FINANSĒŠANAS DARBĪBAS NETO NAUDAS PLŪSMA,+,23
21,27,499,2.0,FINANSĒŠANAS DARBĪBAS NETO NAUDAS PLŪSMA,+,24
22,27,499,2.0,FINANSĒŠANAS DARBĪBAS NETO NAUDAS PLŪSMA,+,25
23,27,499,2.0,FINANSĒŠANAS DARBĪBAS NETO NAUDAS PLŪSMA,+,26
24,29,902,2.0,NETO NAUDAS PLŪSMA,+,2
25,29,902,2.0,NETO NAUDAS PLŪSMA,+,3
26,29,902,2.0,NETO NAUDAS PLŪSMA,+,4
27,29,902,2.0,NETO NAUDAS PLŪSMA,+,5
28,29,902,2.0,NETO NAUDAS PLŪSMA,+,7
29,29,902,2.0,NETO NAUDAS PLŪSMA,+,8
30,29,902,2.0,NETO NAUDAS PLŪSMA,+,9
31,29,902,2.0,NETO NAUDAS PLŪSMA,+,12
32,29,902,2.0,NETO NAUDAS PLŪSMA,+,13
33,29,902,2.0,NETO NAUDAS PLŪSMA,+,14
34,29,902,2.0,NETO NAUDAS PLŪSMA,+,15
35,29,902,2.0,NETO NAUDAS PLŪSMA,+,16
36,29,902,2.0,NETO NAUDAS PLŪSMA,+,17
37,29,902,2.0,NETO NAUDAS PLŪSMA,+,18
38,29,902,2.0,NETO NAUDAS PLŪSMA,+,19
39,29,902,2.0,NETO NAUDAS PLŪSMA,+,22
40,29,902,2.0,NETO NAUDAS PLŪSMA,+,23
41,29,902,2.0,NETO NAUDAS PLŪSMA,+,24
42,29,902,2.0,NETO NAUDAS PLŪSMA,+,25
43,29,902,2.0,NETO NAUDAS PLŪSMA,+,26
44,29,902,2.0,NETO NAUDAS PLŪSMA,+,28

In [35]:
# Merge totals definition with summarized accounts pivot

merged_totals_df = pd.merge(definition_totals_df,
    pivot_df,
    left_on='definition_summarized',
    right_on='definition_id', 
    how='left'
)

# Add multiplication num for operator

merged_totals_df['op_num'] = merged_totals_df['operator'].map({'+': 1, '-': -1})

# Drop unnecessary columns

merged_totals_df.drop(columns = ['key', 'definition_type', 'name', 'operator', 'definition_summarized'], inplace=True)

In [36]:
merged_totals_df

,definition_id,2024-01-07 00:00:00,2024-01-14 00:00:00,2024-01-21 00:00:00,2024-01-28 00:00:00,2024-02-04 00:00:00,2024-02-11 00:00:00,2024-02-18 00:00:00,2024-02-25 00:00:00,2024-03-03 00:00:00,...,2025-11-02 00:00:00,2025-11-09 00:00:00,2025-11-16 00:00:00,2025-11-23 00:00:00,2025-11-30 00:00:00,2025-12-07 00:00:00,2025-12-14 00:00:00,2025-12-21 00:00:00,2025-12-28 00:00:00,op_num
0,6,8124.16,7534.69,4980.63,4915.30,4506.30,7372.62,4378.71,5452.75,10271.67,...,2496.51,0.00,1103.94,4002.39,7113.53,1843.96,15304.11,8652.94,8111.98,1
1,6,-5218.58,-10375.91,-6043.07,0.00,-1893.71,-752.36,-462.68,-10118.08,0.00,...,-5709.37,-6705.49,-5555.74,-4619.95,-4736.90,-347.59,-3424.74,0.00,-10205.30,1
2,6,-8524.51,-5731.41,-4348.59,-765.63,-1032.99,0.00,-4845.59,-2871.11,-3484.60,...,-2832.68,0.00,-3865.56,-6872.64,-1012.78,-7539.13,-6444.40,0.00,-4468.68,1
3,6,0.00,-4769.07,-4702.43,-966.22,-3365.70,0.00,-4102.77,-6528.26,-6037.92,...,-2812.17,-249.67,-12026.82,0.00,0.00,-11258.97,0.00,-169.45,-1801.94,1
4,10,8124.16,7534.69,4980.63,4915.30,4506.30,7372.62,4378.71,5452.75,10271.67,...,2496.51,0.00,1103.94,4002.39,7113.53,1843.96,15304.11,8652.94,8111.98,1
5,10,-5218.58,-10375.91,-6043.07,0.00,-1893.71,-752.36,-462.68,-10118.08,0.00,...,-5709.37,-6705.49,-5555.74,-4619.95,-4736.90,-347.59,-3424.74,0.00,-10205.30,1
6,10,-8524.51,-5731.41,-4348.59,-765.63,-1032.99,0.00,-4845.59,-2871.11,-3484.60,...,-2832.68,0.00,-3865.56,-6872.64,-1012.78,-7539.13,-6444.40,0.00,-4468.68,1
7,10,0.00,-4769.07,-4702.43,-966.22,-3365.70,0.00,-4102.77,-6528.26,-6037.92,...,-2812.17,-249.67,-12026.82,0.00,0.00,-11258.97,0.00,-169.45,-1801.94,1
8,10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
9,10,2475.04,-2668.04,-580.86,1915.42,-217.89,2566.67,969.21,-105.42,742.49,...,-786.62,-1460.58,-3103.92,-802.76,1743.99,-3196.97,1507.82,2569.21,-454.83,1
10,10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
11,20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
12,20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
13,20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
14,20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
15,20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
16,20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
17,20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
18,20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
19,27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
20,27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
21,27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
22,27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
23,27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
24,29,8124.16,7534.69,4980.63,4915.30,4506.30,7372.62,4378.71,5452.75,10271.67,...,2496.51,0.00,1103.94,4002.39,7113.53,1843.96,15304.11,8652.94,8111.98,1
25,29,-5218.58,-10375.91,-6043.07,0.00,-1893.71,-752.36,-462.68,-10118.08,0.00,...,-5709.37,-6705.49,-5555.74,-4619.95,-4736.90,-347.59,-3424.74,0.00,-10205.30,1
26,29,-8524.51,-5731.41,-4348.59,-765.63,-1032.99,0.00,-4845.59,-2871.11,-3484.60,...,-2832.68,0.00,-3865.56,-6872.64,-1012.78,-7539.13,-6444.40,0.00,-4468.68,1
27,29,0.00,-4769.07,-4702.43,-966.22,-3365.70,0.00,-4102.77,-6528.26,-6037.92,...,-2812.17,-249.67,-12026.82,0.00,0.00,-11258.97,0.00,-169.45,-1801.94,1
28,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
29,29,2475.04,-2668.04,-580.86,1915.42,-217.89,2566.67,969.21,-105.42,742.49,...,-786.62,-1460.58,-3103.92,-802.76,1743.99,-3196.97,1507.82,2569.21,-454.83,1
30,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
31,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
32,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
33,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
34,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
35,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
36,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
37,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
38,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
39,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
40,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
41,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
42,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
43,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
44,29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1

In [37]:
# Choose value_columns for further summarization

value_columns = [col for col in merged_totals_df.columns if col not in ['definition_id', 'op_num']]

In [38]:
value_columns

[Timestamp('2024-01-07 00:00:00'),
 Timestamp('2024-01-14 00:00:00'),
 Timestamp('2024-01-21 00:00:00'),
 Timestamp('2024-01-28 00:00:00'),
 Timestamp('2024-02-04 00:00:00'),
 Timestamp('2024-02-11 00:00:00'),
 Timestamp('2024-02-18 00:00:00'),
 Timestamp('2024-02-25 00:00:00'),
 Timestamp('2024-03-03 00:00:00'),
 Timestamp('2024-03-10 00:00:00'),
 Timestamp('2024-03-17 00:00:00'),
 Timestamp('2024-03-24 00:00:00'),
 Timestamp('2024-03-31 00:00:00'),
 Timestamp('2024-04-07 00:00:00'),
 Timestamp('2024-04-14 00:00:00'),
 Timestamp('2024-04-21 00:00:00'),
 Timestamp('2024-04-28 00:00:00'),
 Timestamp('2024-05-05 00:00:00'),
 Timestamp('2024-05-12 00:00:00'),
 Timestamp('2024-05-19 00:00:00'),
 Timestamp('2024-05-26 00:00:00'),
 Timestamp('2024-06-02 00:00:00'),
 Timestamp('2024-06-09 00:00:00'),
 Timestamp('2024-06-16 00:00:00'),
 Timestamp('2024-06-23 00:00:00'),
 Timestamp('2024-06-30 00:00:00'),
 Timestamp('2024-07-07 00:00:00'),
 Timestamp('2024-07-14 00:00:00'),
 Timestamp('2024-07-21 00:00:00'),
 Timestamp('2024-07-28 00:00:00'),
 Timestamp('2024-08-04 00:00:00'),
 Timestamp('2024-08-11 00:00:00'),
 Timestamp('2024-08-18 00:00:00'),
 Timestamp('2024-08-25 00:00:00'),
 Timestamp('2024-09-01 00:00:00'),
 Timestamp('2024-09-08 00:00:00'),
 Timestamp('2024-09-15 00:00:00'),
 Timestamp('2024-09-22 00:00:00'),
 Timestamp('2024-09-29 00:00:00'),
 Timestamp('2024-10-06 00:00:00'),
 Timestamp('2024-10-13 00:00:00'),
 Timestamp('2024-10-20 00:00:00'),
 Timestamp('2024-10-27 00:00:00'),
 Timestamp('2024-11-03 00:00:00'),
 Timestamp('2024-11-10 00:00:00'),
 Timestamp('2024-11-17 00:00:00'),
 Timestamp('2024-11-24 00:00:00'),
 Timestamp('2024-12-01 00:00:00'),
 Timestamp('2024-12-08 00:00:00'),
 Timestamp('2024-12-15 00:00:00'),
 Timestamp('2024-12-22 00:00:00'),
 Timestamp('2024-12-29 00:00:00'),
 Timestamp('2025-01-05 00:00:00'),
 Timestamp('2025-01-12 00:00:00'),
 Timestamp('2025-01-19 00:00:00'),
 Timestamp('2025-01-26 00:00:00'),
 Timestamp('2025-02-02 00:00:00'),
 Timestamp('2025-02-09 00:00:00'),
 Timestamp('2025-02-16 00:00:00'),
 Timestamp('2025-02-23 00:00:00'),
 Timestamp('2025-03-02 00:00:00'),
 Timestamp('2025-03-09 00:00:00'),
 Timestamp('2025-03-16 00:00:00'),
 Timestamp('2025-03-23 00:00:00'),
 Timestamp('2025-03-30 00:00:00'),
 Timestamp('2025-04-06 00:00:00'),
 Timestamp('2025-04-13 00:00:00'),
 Timestamp('2025-04-20 00:00:00'),
 Timestamp('2025-04-27 00:00:00'),
 Timestamp('2025-05-04 00:00:00'),
 Timestamp('2025-05-11 00:00:00'),
 Timestamp('2025-05-18 00:00:00'),
 Timestamp('2025-05-25 00:00:00'),
 Timestamp('2025-06-01 00:00:00'),
 Timestamp('2025-06-08 00:00:00'),
 Timestamp('2025-06-15 00:00:00'),
 Timestamp('2025-06-22 00:00:00'),
 Timestamp('2025-06-29 00:00:00'),
 Timestamp('2025-07-06 00:00:00'),
 Timestamp('2025-07-13 00:00:00'),
 Timestamp('2025-07-20 00:00:00'),
 Timestamp('2025-07-27 00:00:00'),
 Timestamp('2025-08-03 00:00:00'),
 Timestamp('2025-08-10 00:00:00'),
 Timestamp('2025-08-17 00:00:00'),
 Timestamp('2025-08-24 00:00:00'),
 Timestamp('2025-08-31 00:00:00'),
 Timestamp('2025-09-07 00:00:00'),
 Timestamp('2025-09-14 00:00:00'),
 Timestamp('2025-09-21 00:00:00'),
 Timestamp('2025-09-28 00:00:00'),
 Timestamp('2025-10-05 00:00:00'),
 Timestamp('2025-10-12 00:00:00'),
 Timestamp('2025-10-19 00:00:00'),
 Timestamp('2025-10-26 00:00:00'),
 Timestamp('2025-11-02 00:00:00'),
 Timestamp('2025-11-09 00:00:00'),
 Timestamp('2025-11-16 00:00:00'),
 Timestamp('2025-11-23 00:00:00'),
 Timestamp('2025-11-30 00:00:00'),
 Timestamp('2025-12-07 00:00:00'),
 Timestamp('2025-12-14 00:00:00'),
 Timestamp('2025-12-21 00:00:00'),
 Timestamp('2025-12-28 00:00:00')]

In [39]:
# Summarize value_columns based on group value and op_num

summarized_totals_df = (
    merged_totals_df.groupby('definition_id', group_keys=False)[value_columns + ['op_num']]
    .apply(lambda group: pd.Series(
        (group['op_num'].to_numpy()[:, None] * group[value_columns].to_numpy()).sum(axis=0),
        index=value_columns
    ))
    # .reset_index()
)
summarized_totals_df.fillna(0, inplace=True)

In [40]:
summarized_totals_df

,2024-01-07,2024-01-14,2024-01-21,2024-01-28,2024-02-04,2024-02-11,2024-02-18,2024-02-25,2024-03-03,2024-03-10,...,2025-10-26,2025-11-02,2025-11-09,2025-11-16,2025-11-23,2025-11-30,2025-12-07,2025-12-14,2025-12-21,2025-12-28
definition_id,,,,,,,,,,,,,,,,,,,,,
6,-5618.93,-13341.70,-10113.46,3183.45,-1786.10,6620.26,-5032.33,-14064.70,749.15,75.52,...,-5022.71,-8857.71,-6955.16,-20344.18,-7490.20,1363.85,-17301.73,5434.97,8483.49,-8363.94
10,-3143.89,-16009.74,-10694.32,5098.87,-2003.99,9186.93,-4063.12,-14170.12,1491.64,2822.73,...,-5290.07,-9644.33,-8415.74,-23448.10,-8292.96,3107.84,-20498.70,6942.79,11052.70,-8818.77
20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
29,-3143.89,-16009.74,-10694.32,5098.87,-2003.99,9186.93,-4063.12,-14170.12,1491.64,2822.73,...,-5290.07,-9644.33,-8415.74,-23448.10,-8292.96,3107.84,-20498.70,6942.79,11052.70,-8818.77

In [41]:
# ********************** (3) Start working with balances on end of each period *******************************

# Convert d_date to_datetime if not yet
cash_df['d_date'] = pd.to_datetime(cash_df['d_date'])

In [42]:
cash_df.head()

,id,d_id,d_date,cash_type,d_currency,gl_entry_type,gl_account,gl_amount,gl_amount_LC
0,6002,1501,2020-02-23,Receipt,EUR,DR,2620,707.71,707.71
1,6004,1502,2022-08-06,Receipt,EUR,DR,2620,7602.03,7602.03
2,6006,1503,2024-02-13,Receipt,EUR,DR,2620,5461.39,5461.39
3,6008,1504,2025-05-11,Receipt,EUR,DR,2620,5530.30,5530.30
4,6010,1505,2023-02-26,Receipt,EUR,DR,2620,5740.96,5740.96

In [43]:
cash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2000 non-null   int64
 1   d_id           2000 non-null   int64
 2   d_date         2000 non-null   datetime64[ns]
 3   cash_type      2000 non-null   object
 4   d_currency     2000 non-null   object
 5   gl_entry_type  2000 non-null   object
 6   gl_account     2000 non-null   object
 7   gl_amount      2000 non-null   float64
 8   gl_amount_LC   2000 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 140.8+ KB

In [44]:
# Initialize cumulative balance
cumulative_balance = 0  
balances = []

# Start index for efficient filtering
start_idx = 0  

for eoperiod in value_columns:
    # Filter only new transactions from the last weekend up to the current one
    new_transactions = cash_df[(cash_df.index >= start_idx) & (cash_df['d_date'] <= eoperiod)]
    
    # If there are new transactions, update cumulative balance
    if not new_transactions.empty:
        cumulative_balance += new_transactions.apply(
            lambda row: row['gl_amount_LC'] if row['gl_entry_type'] == 'DR' else -row['gl_amount_LC'], axis=1
        ).sum()
        
        # Move the start index forward to avoid redundant calculations
        start_idx = new_transactions.index[-1] + 1  

    # Store balance for the current weekend
    balances.append(cumulative_balance)

In [45]:
# Create a DataFrame with periods as columns
balances_df = pd.DataFrame([balances], columns=value_columns)

In [46]:
balances_df

,2024-01-07,2024-01-14,2024-01-21,2024-01-28,2024-02-04,2024-02-11,2024-02-18,2024-02-25,2024-03-03,2024-03-10,...,2025-10-26,2025-11-02,2025-11-09,2025-11-16,2025-11-23,2025-11-30,2025-12-07,2025-12-14,2025-12-21,2025-12-28
0,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,...,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85

In [47]:
# Create a new DataFrame with repeated rows for each definition_id
balances_df = pd.merge(definition_bal_df["definition_id"], balances_df, how='cross')
balances_df = balances_df.set_index("definition_id")

In [48]:
balances_df

,2024-01-07,2024-01-14,2024-01-21,2024-01-28,2024-02-04,2024-02-11,2024-02-18,2024-02-25,2024-03-03,2024-03-10,...,2025-10-26,2025-11-02,2025-11-09,2025-11-16,2025-11-23,2025-11-30,2025-12-07,2025-12-14,2025-12-21,2025-12-28
definition_id,,,,,,,,,,,,,,,,,,,,,
30,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,...,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85

In [49]:
# ********************** (3) Put together summarized accounts, totals and balances on end of each period *******************************

In [50]:
pivot_df.head()

,2024-01-07,2024-01-14,2024-01-21,2024-01-28,2024-02-04,2024-02-11,2024-02-18,2024-02-25,2024-03-03,2024-03-10,...,2025-10-26,2025-11-02,2025-11-09,2025-11-16,2025-11-23,2025-11-30,2025-12-07,2025-12-14,2025-12-21,2025-12-28
definition_id,,,,,,,,,,,,,,,,,,,,,
2,8124.16,7534.69,4980.63,4915.30,4506.30,7372.62,4378.71,5452.75,10271.67,8886.27,...,957.98,2496.51,0.00,1103.94,4002.39,7113.53,1843.96,15304.11,8652.94,8111.98
3,-5218.58,-10375.91,-6043.07,0.00,-1893.71,-752.36,-462.68,-10118.08,0.00,-8810.75,...,-953.30,-5709.37,-6705.49,-5555.74,-4619.95,-4736.90,-347.59,-3424.74,0.00,-10205.30
4,-8524.51,-5731.41,-4348.59,-765.63,-1032.99,0.00,-4845.59,-2871.11,-3484.60,0.00,...,-5027.39,-2832.68,0.00,-3865.56,-6872.64,-1012.78,-7539.13,-6444.40,0.00,-4468.68
5,0.00,-4769.07,-4702.43,-966.22,-3365.70,0.00,-4102.77,-6528.26,-6037.92,0.00,...,0.00,-2812.17,-249.67,-12026.82,0.00,0.00,-11258.97,0.00,-169.45,-1801.94
7,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [51]:
summarized_totals_df.head()

,2024-01-07,2024-01-14,2024-01-21,2024-01-28,2024-02-04,2024-02-11,2024-02-18,2024-02-25,2024-03-03,2024-03-10,...,2025-10-26,2025-11-02,2025-11-09,2025-11-16,2025-11-23,2025-11-30,2025-12-07,2025-12-14,2025-12-21,2025-12-28
definition_id,,,,,,,,,,,,,,,,,,,,,
6,-5618.93,-13341.70,-10113.46,3183.45,-1786.10,6620.26,-5032.33,-14064.70,749.15,75.52,...,-5022.71,-8857.71,-6955.16,-20344.18,-7490.20,1363.85,-17301.73,5434.97,8483.49,-8363.94
10,-3143.89,-16009.74,-10694.32,5098.87,-2003.99,9186.93,-4063.12,-14170.12,1491.64,2822.73,...,-5290.07,-9644.33,-8415.74,-23448.10,-8292.96,3107.84,-20498.70,6942.79,11052.70,-8818.77
20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
29,-3143.89,-16009.74,-10694.32,5098.87,-2003.99,9186.93,-4063.12,-14170.12,1491.64,2822.73,...,-5290.07,-9644.33,-8415.74,-23448.10,-8292.96,3107.84,-20498.70,6942.79,11052.70,-8818.77

In [52]:
balances_df.head()

,2024-01-07,2024-01-14,2024-01-21,2024-01-28,2024-02-04,2024-02-11,2024-02-18,2024-02-25,2024-03-03,2024-03-10,...,2025-10-26,2025-11-02,2025-11-09,2025-11-16,2025-11-23,2025-11-30,2025-12-07,2025-12-14,2025-12-21,2025-12-28
definition_id,,,,,,,,,,,,,,,,,,,,,
30,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,...,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85

In [53]:
# Concatenate it all together
report_df = pd.concat([pivot_df, summarized_totals_df, balances_df])

In [54]:
report_df

,2024-01-07,2024-01-14,2024-01-21,2024-01-28,2024-02-04,2024-02-11,2024-02-18,2024-02-25,2024-03-03,2024-03-10,...,2025-10-26,2025-11-02,2025-11-09,2025-11-16,2025-11-23,2025-11-30,2025-12-07,2025-12-14,2025-12-21,2025-12-28
definition_id,,,,,,,,,,,,,,,,,,,,,
2,8124.16,7534.69,4980.63,4915.30,4506.30,7372.62,4378.71,5452.75,10271.67,8886.27,...,957.98,2496.51,0.00,1103.94,4002.39,7113.53,1843.96,15304.11,8652.94,8111.98
3,-5218.58,-10375.91,-6043.07,0.00,-1893.71,-752.36,-462.68,-10118.08,0.00,-8810.75,...,-953.30,-5709.37,-6705.49,-5555.74,-4619.95,-4736.90,-347.59,-3424.74,0.00,-10205.30
4,-8524.51,-5731.41,-4348.59,-765.63,-1032.99,0.00,-4845.59,-2871.11,-3484.60,0.00,...,-5027.39,-2832.68,0.00,-3865.56,-6872.64,-1012.78,-7539.13,-6444.40,0.00,-4468.68
5,0.00,-4769.07,-4702.43,-966.22,-3365.70,0.00,-4102.77,-6528.26,-6037.92,0.00,...,0.00,-2812.17,-249.67,-12026.82,0.00,0.00,-11258.97,0.00,-169.45,-1801.94
7,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,2475.04,-2668.04,-580.86,1915.42,-217.89,2566.67,969.21,-105.42,742.49,2747.21,...,-267.36,-786.62,-1460.58,-3103.92,-802.76,1743.99,-3196.97,1507.82,2569.21,-454.83
9,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
19,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
28,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,-5618.93,-13341.70,-10113.46,3183.45,-1786.10,6620.26,-5032.33,-14064.70,749.15,75.52,...,-5022.71,-8857.71,-6955.16,-20344.18,-7490.20,1363.85,-17301.73,5434.97,8483.49,-8363.94
10,-3143.89,-16009.74,-10694.32,5098.87,-2003.99,9186.93,-4063.12,-14170.12,1491.64,2822.73,...,-5290.07,-9644.33,-8415.74,-23448.10,-8292.96,3107.84,-20498.70,6942.79,11052.70,-8818.77
20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
29,-3143.89,-16009.74,-10694.32,5098.87,-2003.99,9186.93,-4063.12,-14170.12,1491.64,2822.73,...,-5290.07,-9644.33,-8415.74,-23448.10,-8292.96,3107.84,-20498.70,6942.79,11052.70,-8818.77
30,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,...,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85

In [55]:
# ********************** (4) Prepare report for visual appearance *******************************

# Merge report definition header with report
report_df = pd.merge(definition_df, report_df, left_on="definition_id", right_on="definition_id", how="left")

# Sort based on key value
report_df.sort_values("key", inplace=True)

In [56]:
report_df

,definition_id,key,definition_type,name,2024-01-07 00:00:00,2024-01-14 00:00:00,2024-01-21 00:00:00,2024-01-28 00:00:00,2024-02-04 00:00:00,2024-02-11 00:00:00,...,2025-10-26 00:00:00,2025-11-02 00:00:00,2025-11-09 00:00:00,2025-11-16 00:00:00,2025-11-23 00:00:00,2025-11-30 00:00:00,2025-12-07 00:00:00,2025-12-14 00:00:00,2025-12-21 00:00:00,2025-12-28 00:00:00
0,1,100,NaN,PAMATDARBĪBAS NAUDAS PLŪSMA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,101,1.0,Ieņēmumi no preču un pakalpojumu pārdošanas,8124.16,7534.69,4980.63,4915.30,4506.30,7372.62,...,957.98,2496.51,0.00,1103.94,4002.39,7113.53,1843.96,15304.11,8652.94,8111.98
2,3,102,1.0,Maksājumi piegādātājiem,-5218.58,-10375.91,-6043.07,0.00,-1893.71,-752.36,...,-953.30,-5709.37,-6705.49,-5555.74,-4619.95,-4736.90,-347.59,-3424.74,0.00,-10205.30
3,4,103,1.0,Maksājumi darbiniekiem,-8524.51,-5731.41,-4348.59,-765.63,-1032.99,0.00,...,-5027.39,-2832.68,0.00,-3865.56,-6872.64,-1012.78,-7539.13,-6444.40,0.00,-4468.68
4,5,104,1.0,Pārējie pamatdarbības ieņēmumi un izdevumi,0.00,-4769.07,-4702.43,-966.22,-3365.70,0.00,...,0.00,-2812.17,-249.67,-12026.82,0.00,0.00,-11258.97,0.00,-169.45,-1801.94
5,6,199,2.0,BRUTO PAMATDARBĪBAS NAUDAS PLŪSMA,-5618.93,-13341.70,-10113.46,3183.45,-1786.10,6620.26,...,-5022.71,-8857.71,-6955.16,-20344.18,-7490.20,1363.85,-17301.73,5434.97,8483.49,-8363.94
6,7,201,1.0,Izdevumi procentu maksājumiem,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,8,202,1.0,Izdevumi nodokļu maksājumiem,2475.04,-2668.04,-580.86,1915.42,-217.89,2566.67,...,-267.36,-786.62,-1460.58,-3103.92,-802.76,1743.99,-3196.97,1507.82,2569.21,-454.83
8,9,203,1.0,Naudas plūsma no ārkārtas posteņiem,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,10,299,2.0,PAMATDARBĪBAS NETO NAUDAS PLŪSMA,-3143.89,-16009.74,-10694.32,5098.87,-2003.99,9186.93,...,-5290.07,-9644.33,-8415.74,-23448.10,-8292.96,3107.84,-20498.70,6942.79,11052.70,-8818.77
10,11,300,NaN,IEGULDĪŠANAS DARBĪBAS NAUDAS PLŪSMA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,301,1.0,Radniecīgo vai asociēto uzņēmumu daļu iegāde,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,13,302,1.0,Ieņēmumi no radniecīgo vai asociēto uzņēmumu d...,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,14,303,1.0,Pamatlīdzekļu un nemateriālo ieguldījumu iegāde,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,15,304,1.0,Ieņēmumi no pamatlīdzekļu un nemateriālo iegul...,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,16,305,1.0,Izsniegtie aizdevumi,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16,17,306,1.0,Ieņēmumi no aizdevumu atmaksas,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,18,307,1.0,Saņemtie procenti,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,19,308,1.0,Saņemtās dividendes,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
19,20,309,2.0,IEGULDĪJUMU DARBĪBAS NETO NAUDAS PLŪSMA,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,21,400,NaN,FINANSĒŠANAS DARBĪBAS NAUDAS PLŪSMA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,401,1.0,Ieņēmumi no akciju vai obligāciju emisijas,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
22,23,402,1.0,Saņemtie aizņēmumi,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23,24,403,1.0,Izdevumi aizdevumu atmaksai,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24,25,404,1.0,Samaksātie procenti,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25,26,405,1.0,Izmaksātās dividendes,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,27,499,2.0,FINANSĒŠANAS DARBĪBAS NETO NAUDAS PLŪSMA,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
27,28,901,1.0,Ārvalstu valūtu kursu svārstību rezultāts,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
28,29,902,2.0,NETO NAUDAS PLŪSMA,-3143.89,-16009.74,-10694.32,5098.87,-2003.99,9186.93,...,-5290.07,-9644.33,-8415.74,-23448.10,-8292.96,3107.84,-20498.70,6942.79,11052.70,-8818.77
29,30,999,3.0,NAUDAS LĪDZEKĻU ATLIKUMS PĀRSKATA PERIODA BEIGĀS,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,...,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85

In [57]:
# Subtract report formatting in separate dataframe
format_df = report_df["definition_type"]

In [58]:

format_df

0     NaN
1     1.0
2     1.0
3     1.0
4     1.0
5     2.0
6     1.0
7     1.0
8     1.0
9     2.0
10    NaN
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    2.0
20    NaN
21    1.0
22    1.0
23    1.0
24    1.0
25    1.0
26    2.0
27    1.0
28    2.0
29    3.0
Name: definition_type, dtype: float64

In [59]:
# Prepare report_df for visual appearance

report_df.drop(columns=["definition_id", "key", "definition_type"], inplace=True)
report_df.set_index("name", inplace=True)

# Format column headers to show only the date part
report_df.columns = [col.strftime(date_format()) if not pd.isnull(col) else col for col in report_df.columns]

In [60]:
report_df

,"07. Jan, 2024","14. Jan, 2024","21. Jan, 2024","28. Jan, 2024","04. Feb, 2024","11. Feb, 2024","18. Feb, 2024","25. Feb, 2024","03. Mar, 2024","10. Mar, 2024",...,"26. Oct, 2025","02. Nov, 2025","09. Nov, 2025","16. Nov, 2025","23. Nov, 2025","30. Nov, 2025","07. Dec, 2025","14. Dec, 2025","21. Dec, 2025","28. Dec, 2025"
name,,,,,,,,,,,,,,,,,,,,,
PAMATDARBĪBAS NAUDAS PLŪSMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ieņēmumi no preču un pakalpojumu pārdošanas,8124.16,7534.69,4980.63,4915.30,4506.30,7372.62,4378.71,5452.75,10271.67,8886.27,...,957.98,2496.51,0.00,1103.94,4002.39,7113.53,1843.96,15304.11,8652.94,8111.98
Maksājumi piegādātājiem,-5218.58,-10375.91,-6043.07,0.00,-1893.71,-752.36,-462.68,-10118.08,0.00,-8810.75,...,-953.30,-5709.37,-6705.49,-5555.74,-4619.95,-4736.90,-347.59,-3424.74,0.00,-10205.30
Maksājumi darbiniekiem,-8524.51,-5731.41,-4348.59,-765.63,-1032.99,0.00,-4845.59,-2871.11,-3484.60,0.00,...,-5027.39,-2832.68,0.00,-3865.56,-6872.64,-1012.78,-7539.13,-6444.40,0.00,-4468.68
Pārējie pamatdarbības ieņēmumi un izdevumi,0.00,-4769.07,-4702.43,-966.22,-3365.70,0.00,-4102.77,-6528.26,-6037.92,0.00,...,0.00,-2812.17,-249.67,-12026.82,0.00,0.00,-11258.97,0.00,-169.45,-1801.94
BRUTO PAMATDARBĪBAS NAUDAS PLŪSMA,-5618.93,-13341.70,-10113.46,3183.45,-1786.10,6620.26,-5032.33,-14064.70,749.15,75.52,...,-5022.71,-8857.71,-6955.16,-20344.18,-7490.20,1363.85,-17301.73,5434.97,8483.49,-8363.94
Izdevumi procentu maksājumiem,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Izdevumi nodokļu maksājumiem,2475.04,-2668.04,-580.86,1915.42,-217.89,2566.67,969.21,-105.42,742.49,2747.21,...,-267.36,-786.62,-1460.58,-3103.92,-802.76,1743.99,-3196.97,1507.82,2569.21,-454.83
Naudas plūsma no ārkārtas posteņiem,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
PAMATDARBĪBAS NETO NAUDAS PLŪSMA,-3143.89,-16009.74,-10694.32,5098.87,-2003.99,9186.93,-4063.12,-14170.12,1491.64,2822.73,...,-5290.07,-9644.33,-8415.74,-23448.10,-8292.96,3107.84,-20498.70,6942.79,11052.70,-8818.77
IEGULDĪŠANAS DARBĪBAS NAUDAS PLŪSMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Radniecīgo vai asociēto uzņēmumu daļu iegāde,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Ieņēmumi no radniecīgo vai asociēto uzņēmumu daļu pārdošanas,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Pamatlīdzekļu un nemateriālo ieguldījumu iegāde,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Ieņēmumi no pamatlīdzekļu un nemateriālo ieguldījumu pārdošanas,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Izsniegtie aizdevumi,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Ieņēmumi no aizdevumu atmaksas,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Saņemtie procenti,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Saņemtās dividendes,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
IEGULDĪJUMU DARBĪBAS NETO NAUDAS PLŪSMA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
FINANSĒŠANAS DARBĪBAS NAUDAS PLŪSMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ieņēmumi no akciju vai obligāciju emisijas,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Saņemtie aizņēmumi,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Izdevumi aizdevumu atmaksai,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Samaksātie procenti,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Izmaksātās dividendes,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
FINANSĒŠANAS DARBĪBAS NETO NAUDAS PLŪSMA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Ārvalstu valūtu kursu svārstību rezultāts,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NETO NAUDAS PLŪSMA,-3143.89,-16009.74,-10694.32,5098.87,-2003.99,9186.93,-4063.12,-14170.12,1491.64,2822.73,...,-5290.07,-9644.33,-8415.74,-23448.10,-8292.96,3107.84,-20498.70,6942.79,11052.70,-8818.77
NAUDAS LĪDZEKĻU ATLIKUMS PĀRSKATA PERIODA BEIGĀS,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,...,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85,201067.85

In [61]:
report_df.columns

Index(['07. Jan, 2024', '14. Jan, 2024', '21. Jan, 2024', '28. Jan, 2024',
       '04. Feb, 2024', '11. Feb, 2024', '18. Feb, 2024', '25. Feb, 2024',
       '03. Mar, 2024', '10. Mar, 2024',
       ...
       '26. Oct, 2025', '02. Nov, 2025', '09. Nov, 2025', '16. Nov, 2025',
       '23. Nov, 2025', '30. Nov, 2025', '07. Dec, 2025', '14. Dec, 2025',
       '21. Dec, 2025', '28. Dec, 2025'],
      dtype='object', length=104)